/* 
p - font-size: 14px;
    line-height: 16px;

h4 - font-weight: 700;
     font-size: 18px;
     line-height: 25px;

seapraror - width 115
main p - width 183, h 32
main button width 183, height 50

form width 398, height 450
main__form__info - width:298;
.form-btn - width: 398px;

media 
.media__info - column-gap:20px;
                padding: 14px 0 16px 0;
 */

@media screen and (max-width:1200px) {

    .container {
        width: 992px;
        margin: 0 auto;
        padding: 0 15px;
    }

    p {
        font-size: 14px;
        line-height: 16px;
    }

    h4 {
        font-size: 18px;
        line-height: 25px;
    }

    h1 {
        font-size: 36px;
        line-height: 42px;
    }

    .seapraror {
        width: 115px;
    }

    .header__logo {
        margin: 0;
        padding-left: 100px;
    }

    .main__page {
        padding: 137px 0 131px 100px;
    }

    .logo_main img {
        height: 42px;
        margin: 17px 0 61px 0;
    }

    .main__info {
        width: 450px;
    }

    .separator_main {
        margin: 42px 0 31px 0;
        ;
    }

    .main-btn {
        width: 183px;
        height: 50px;
    }

    .main__form,
    .form-btn {
        width: 398px;
    }

    .main__form__info,
    .info input {
        width: 298px;
    }

    .media__info {
        padding: 14px 0 16px 0;
    }

    .media__title {
        width: 402px;
    }

}

/* @media screen and (max-width:992px) {
    .container {
        width: 320px;
        margin: 0 auto;
        padding: 0 15px;
    }
} */