body {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 400px;
    line-height: 21px;
    font-size: 18px;
}

p {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

section {
    padding: 0 15px;
}

.header {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    margin: 0 567px 0 115px;
    padding: 22px 0;
}

.header__nav {
    display: flex;
    column-gap: 60px;
    padding: 0 200px 0 30px;
}

.header__nav p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.main {
    background: url(../images/bg.png) no-repeat center top / cover;
    position: relative;
    padding: 0 15px;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.main__page {
    display: flex;
    column-gap: 60px;
    align-items: center;
}

.main__info {
    padding-top: 230px;
    z-index: 2;
}

.logo_main img {
    height: 55px;
    padding-bottom: 73px;

}

.main__info h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.main__added p {
    color: #FFFFFF;
}

.main__button {
    background-color: none;
    text-decoration: none;
    border: 3px solid white;
    color: white;
    display: inline-flex;
    margin: 42px 0 185px 0;
    padding: 20px 80px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.main__banner {
    background-color: white;
    flex-grow: 1;
    z-index: 2;
    border-radius: 10px;
    height: 450px;
    width: 470px;
}

.title {
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    align-items: center;
}

.separator {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.separator_main {
    position: relative;
    background-color: white;
    margin: 55px 0 42px 0;
}


.text {
    font-size: 18px;
    color: #86878B;
    text-align: center;
    line-height: 21px;
}

h4 {
    font-family: 'Open Sans';
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 36px;
}

.awesome__main {
    display: flex;
    margin-bottom: 58px;
    margin-top: 71px;
    column-gap: 30px;
}

.awesome__main__iteam {
    text-align: center;
    flex-grow: 1;
}

.awesome__main__iteam h4 {
    padding-top: 39px;
    padding-bottom: 45px;
    margin: auto;
    text-align: center;
}

.pricing {
    background-color: #F5F5F5;
}

.tab {
    display: flex;
    margin-top: 79px;
    padding-bottom: 50px;
    column-gap: 30px;
}

.tab__basic {
    text-align: center;
    flex-grow: 1;
}

.tab__title {
    background-color: #333333;
    color: white;
    padding: 20px 150px;
    border: 2px solid #F5F5F5;
}

.tab__price {
    font-size: 36px;
    background-color: #333333;
    color: white;
    padding: 30px 150px;
    border: 2px solid #F5F5F5;
}

.tab__subline {
    background-color: #333333;
    padding: 14px 135px;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #F5F5F5;
}

.tab__row p {
    background-color: #FFFFFF;
    padding: 14px 120px;
    color: #86878B;
    border: 2px solid #F5F5F5;
}

.tab__basic_up {
    text-align: center;
    position: relative;
    top: -20px;
    bottom: 20px;
    box-shadow: 0px 4px 10px 0px #33333333;
}

.comment {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 83px;
    padding-bottom: 64px;
}

.comment__item h5 {
    background-color: #E2E2E2;
    color: #86878B;
    text-align: center;
    padding: 38px 25px 38px 25px;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
}

.comment__item h5::after {
    content: '';
    position: absolute;
    left: 100px;
    bottom: -30px;
    border: 10px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.comment__item__author {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-top: 67px;
}

.comment__item__job h4 {
    padding-top: 35px;
    padding-bottom: 20px;
}

.design {
    background: url(../images/bgimg.png) no-repeat center top / cover;
    position: relative;
}

.design::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.design__heading {
    position: relative;
    z-index: 2;
}

.title_design {
    color: white;
}

.separator_design {
    background-color: white;
}

.text_design {
    color: white;
}

.main__button_design {
    border: 3px solid white;
    color: white;
    display: inline-flex;
    margin: 70px 400px 50px 400px;
    padding: 20px 140px;
    position: relative;
    z-index: 2;
}

.footer {
    background-color: #000000;
}

.footer__icons {
    display: flex;
    justify-content: center;
    gap: 33px;
    padding-top: 35px;
    padding-bottom: 28px;
}

.footer__text {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 27px;
}