body {
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: 400px;
    line-height: 21px;
    font-size: 18px;
}

p {
    text-decoration: none;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    font-size: 48px;
    line-height: 56px;
}

h3 {
    font-weight: 700;
    font-size: 36px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700px;
    line-height: 33px;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

section {
    padding: 0 15px;
}

textarea {
    resize: none;
}

.header {
    background-color: #000000;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    margin-left: -50px;
    padding: 22px 0;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    width: 113px;
    padding: 28px 0;
}

.header__nav a:hover {
    background-color: #EC7979;
    text-transform: uppercase;
}

.header__nav a:active {
    background-color: #AB4949;
    text-transform: uppercase;
}


.main {
    background: url(../images/bg.png) no-repeat center top / cover;
    position: relative;
    padding: 0 15px;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.main__page {
    display: flex;
    column-gap: 60px;
    padding: 207px 0 185px 0;
    z-index: 2;
}

.main__info {
    width: 670px;
    z-index: 2;
}

.logo_main img {
    height: 55px;
    margin: 23px 0 75px 0;

}

.main__info h1 {
    color: #FFFFFF;
}

.main__added p {
    color: #FFFFFF;
}

.main__added {
    margin-bottom: 50px;
}

.main-btn {
    background-color: none;
    text-decoration: none;
    border: 3px solid white;
    color: white;
    display: inline-flex;
    width: 270px;
    height: 58px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.main-btn:hover {
    color: #EC7979;
    border-color: #EC7979;
}

.main-btn:active {
    color: #FFFFFF;
    border-color: #AB4949;
    background-color: #AB4949;
}

.main__form {
    background-color: white;
    width: 470px;
    height: 450px;
    z-index: 2;
    border-radius: 10px;
}

.main__form h4 {
    text-transform: uppercase;
    padding: 35px 0;
    text-align: center;

}

.main__form span {
    color: #EC7979;
}

.main__form__info {
    width: 370px;
    padding: 0 50px 75px 50px;
}

.info input,
textarea {
    width: 370px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 35px 0 20px 0;
    border-bottom: 1px solid #BDBDBD;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.info input::placeholder,
.info_right textarea::placeholder {
    color: #BDBDBD;
}

.form-btn {
    background-color: #EC7979;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    display: inline-flex;
    width: 470px;
    height: 60px;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form-btn:hover {
    background-color: #AB4949;
}

.form-btn:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

.media {
    background-color: #F8EFEF;
}

.media__info {
    display: flex;
    column-gap: 30px;
    padding: 14px 0 18px 0;
}

.media__title {
    width: 470px;
}

.media__title h4 {
    line-height: 33px;
    font-weight: 700;
    padding-bottom: 26px;
}

.media__title p {
    color: #86878B;
}

.media__icons img {
    scale: 1.25;
}

.media__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 50px;
    flex-grow: 1;
}

.tabs .container {
    padding: 99px 0 50px 0;
}

.nav {
    display: inline-flex;
    color: #333333;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    width: 184px;
    height: 40px;
}

.tabs__item {
    display: flex;
    padding-left: 100px;
    border: 1px solid #C6CBCD;
    column-gap: 30px;
    display: none;
    position: relative;
}

.tab__input {
    opacity: 0;
    position: absolute;

}

#tab_1:checked~.nav_tab1,
#tab_2:checked~.nav_tab2,
#tab_3:checked~.nav_tab3 {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0px 0px;
    border-bottom: none;
    background-color: white;
}

#tab_1:checked~.tabs__item_1:before {
    content: '';
    width: 184.5px;
    position: absolute;
    height: 1.5px;
    top: -1px;
    right: 986px;
    background-color: white;
}

#tab_2:checked~.tabs__item_2:before {
    content: '';
    width: 184.5px;
    position: absolute;
    height: 1.5px;
    top: -1px;
    left: 188.5px;
    background-color: white;
}

#tab_3:checked~.tabs__item_3:before {
    content: '';
    width: 184.5px;
    position: absolute;
    height: 1.5px;
    top: -1px;
    left: 377px;
    background-color: white;
}

#tab_1:checked~.tabs__item_1,
#tab_2:checked~.tabs__item_2,
#tab_3:checked~.tabs__item_3 {
    display: inline-flex;

}

.tabs-content {
    width: 570px;
}

.tabs-content h4 {
    font-size: 30px;
    line-height: 41px;
    padding: 52px 0;
}

.tabs-content p {
    margin: 27px 0;
}

.filled-btn {
    background-color: #EC7979;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    display: inline-flex;
    width: 270px;
    height: 58px;
    justify-content: center;
}

.filled-btn_tab-2 {
    background-color: #86878B;
}

.filled-btn_tab-3 {
    background-color: #E2E2E2;
}

.filled-btn:hover {
    background-color: #AB4949;
}

.filled-btn:active {
    background-color: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}


.title {
    font-weight: 400px;
    font-size: 36px;
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    align-items: center;
}

.separator {
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.separator_main {
    position: relative;
    background-color: white;
    margin: 55px 0 42px 0;
}


.text {
    font-size: 18px;
    color: #86878B;
    text-align: center;
    line-height: 21px;
}

.awesome__main {
    display: flex;
    margin-bottom: 58px;
    margin-top: 71px;
    column-gap: 30px;
}

.awesome__main__iteam {
    text-align: center;
    flex-grow: 1;
}

.awesome__main__iteam h4 {
    padding-top: 39px;
    padding-bottom: 45px;
    margin: auto;
    text-align: center;
}

.pricing {
    background-color: #F5F5F5;
}

.tab {
    display: flex;
    margin-top: 79px;
    padding-bottom: 50px;
    column-gap: 30px;
}

.tab__basic {
    text-align: center;
    flex-grow: 1;
}

.tab__title {
    background-color: #333333;
    color: white;
    padding: 20px 150px;
    border: 2px solid #F5F5F5;
}

.tab__price {
    font-size: 36px;
    background-color: #333333;
    color: white;
    padding: 30px 150px;
    border: 2px solid #F5F5F5;
}

.tab__subline {
    background-color: #333333;
    padding: 14px 135px;
    color: rgba(255, 255, 255, 0.5);
    border: 2px solid #F5F5F5;
}

.tab__row p {
    background-color: #FFFFFF;
    padding: 14px 120px;
    color: #86878B;
    border: 2px solid #F5F5F5;
}

.tab__basic_up {
    text-align: center;
    position: relative;
    top: -20px;
    bottom: 20px;
    box-shadow: 0px 4px 10px 0px #33333333;
}

.comment {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 83px;
    padding-bottom: 64px;
}

.comment__item h5 {
    background-color: #E2E2E2;
    color: #86878B;
    text-align: center;
    padding: 38px 25px 38px 25px;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
}

.comment__item h5::after {
    content: '';
    position: absolute;
    left: 100px;
    bottom: -30px;
    border: 10px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.comment__item__author {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-top: 67px;
}

.comment__item__job h4 {
    padding-top: 35px;
    padding-bottom: 20px;
}

.banner {
    background: url(../images/bgimg.png) no-repeat center top / cover;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.banner__heading {
    position: relative;
    z-index: 2;
}

.title_banner {
    color: white;
}

.separator_banner {
    background-color: white;
}

.text_banner {
    color: white;
}

.main-btn_banner {
    margin: 70px 400px 50px 400px;
    width: 370px;
    position: relative;
    z-index: 2;
}

.contacts__info {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.info_left input {
    width: 571px;
    padding: 50px 0 20px 0;
}

.info_right textarea {
    width: 569px;
    padding-top: 50px;
    padding-bottom: 29px;
}

.filled-btn_form {
    margin: 50px 400px 50px 400px;
    width: 370px;
}

.footer {
    background-color: #000000;
}

.media__icons_footer img {
    scale: 1;
}

.media__icons_footer {
    justify-content: center;
    gap: 33px;
    padding-top: 35px;
    padding-bottom: 28px;
}

.footer__text {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 27px;
}